<?xml version="1.0"?>
<!--
/**
 * Scandiweb_NewsletterBlock
 *
 * @category Scandiweb
 * @package  Scandiweb_NewsletterBlock
 * @author   Danylo Herasymov <d.herasymov@scandiweb.com>
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Scandiweb_NewsletterBlock">
        <sequence>
            <module name="Magento_Widget"/>
        </sequence>
    </module>
</config>
